$color-red: #d45661;
$color-initial: #fff !default;
$color-primary: #333333 !default;
$color-secondary: #cacaca !default;
$color-tertiary: #f5f5f5 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #fbfbfb !default;